@{
    ViewData["Title"] = "Change Password";
}

<div class="w-full">
    <div class="bg-white p-8">
        <!-- Title -->
        <h1 class="text-black mb-6 text-3xl font-bold">Change Password</h1> <!-- Title Updated -->
        <!-- Input Fields -->
        <div class="space-y-6 w-2/5">
            <!-- Input Fields -->
            <form method="post" action="/adminprofile/ChangePasswordAction">
                <div class="space-y-6 w-3/4">
                    <!-- New Password Field -->
                    <div>
                        <label for="currentPassword" class="text-black block text-lg font-bold">Current Password</label>
                        <input type="password" id="currentPassword" name="currentPassword"
                               class="mt-2 px-3 py-2 border-gray-300 w-full rounded-md border text-lg focus:outline-none focus:ring-2 focus:ring-[#12796F]"
                               placeholder="Enter your current password" required />
                    </div>
                    <div>
                        <label for="newPassword" class="text-black block text-lg font-bold">New Password</label>
                        <input type="password" id="newPassword" name="newPassword"
                               class="mt-2 px-3 py-2 border-gray-300 w-full rounded-md border text-lg focus:outline-none focus:ring-2 focus:ring-[#12796F]"
                               placeholder="Enter your new password" required />
                    </div>
                    <!-- Confirm Password Field -->
                    <div>
                        <label for="confirmPassword" class="text-black block text-lg font-bold">Confirm Password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                               class="mt-2 px-3 py-2 border-gray-300 w-full rounded-md border text-lg focus:outline-none focus:ring-2 focus:ring-[#12796F]"
                               placeholder="Confirm your new password" required />
                    </div>
                </div>

                <!-- Save Button -->
                <div class="mt-20 w-2/5">
                    <button type="submit"
                            class="py-2 px-6 text-white w-full rounded-md bg-[#12796F] font-bold transition hover:bg-[#0f5d57]">
                        Save
                    </button>
                </div>
            </form>
    </div>
</div>


