@{
    ViewData["Title"] = "User Account Details";
}

<div class="w-full">
    <div class="bg-white p-8">
        <!-- Title -->
        <h1 class="text-black mb-6 text-3xl font-bold">User Account Details</h1> <!-- Title -->
        <!-- Profile Picture -->
        <div class="mb-6">
            <img src="/images/durian.jpg" alt="Profile Picture"
                 class="w-40 h-40 border-gray-300 rounded-full border object-cover" /> <!-- Profile picture -->
        </div>

        <!-- User Info -->
        <div class="gap-4 mb-8 mr-auto grid w-2/5 grid-cols-2 text-lg">
            <!-- Left Column -->
            <div class="text-black font-bold">
                <p>Username</p>
                <p>Fullname</p>
                <p>Email</p>
                <p>Phone Number</p>
                <p>User Status</p>
            </div>
            <!-- Right Column -->
            <div class="text-black">
                <p>JohnDoe</p>
                <p>John Doe</p>
                <p>johndoe@example.com</p>
                <p>012-3456789</p>
                <p>Active</p>
            </div>
        </div>
    </div>
</div>
